  /* body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
  }
} */

.arena
{
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.instructions {
  font-size: 30px;
  font-weight: 400;
  color: blanchedalmond;
  position: absolute;
  top: 10px;
  left: 800px;
}

.pokemonOne
{
  position: absolute;
  top: 140px;
  left: 500px;
  transform: scale(-1.5, 1.5);
}

.pokemonTwo
{
  position: absolute;
  top: 230px;
  left: 650px;
  
}

.pokemonTwo {
  -moz-transform: scale(-1.5, 1.5);
  -o-transform: scale(-1.5, 1.5);
  -webkit-transform: scale(-1.5, 1.5);
  transform: scale(-1.5, 1.5);
}

.pokemonOneText
{
  font-size: 30px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 50px;
  left: 100px;
}

.pokemonTwoText
{
  font-size: 30px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 400px;
  left: 900px;
}

.fightresult {
  font-size: 50px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 550px;
  left: 600px;
}